@layer components {
	.desktop {
		container: desktop / inline-size;
		block-size: auto;
		min-block-size: 100dvh;
		inline-size: min(100%, 100dvw);

		position: relative;
		overflow: visible;

		display: grid;
		grid-template-columns: auto 1fr;
		gap: 4rem;
		padding-inline: 3rem;
		padding-block: 5rem;

		.desktop__nav {
			position: sticky;
			top: 4em;
			text-align: center;

			display: grid;
			gap: 1.5em;
			align-self: flex-start;
			width: min-content;

			@media (max-width: 640px) {
				position: relative;
				inset: 0;
				margin: 0;
				justify-self: center;
				align-self: initial;
			}
		}

		.desktop__apps {
			position: sticky;
			top: 2em;
			/*margin: 2em;*/
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
			align-self: flex-start;
			grid-template-rows: repeat(2, min-content);
			row-gap: 1.5em;

			/*transition:
				opacity 0.3s cubic-bezier(0.78, 0, 0.22, 1),
				transform 0.3s cubic-bezier(0.78, 0, 0.22, 1),
				display 0.3s cubic-bezier(0.78, 0, 0.22, 1);
			transition-behavior: allow-discrete;
			opacity: 1;*/

			span {
				font-size: calc(var(--size-sm) - 3.4px);
			}

			@media (max-width: 768px) {
				grid-template-columns: repeat(2, 6.5rem);
			}

			@media (max-width: 641px) {
				position: relative;
				inset: 0;
				margin: 0;
				padding-inline: 2rem;
				padding-top: 2rem;
				grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
			}
		}

		.desktop__icon {
			--icon-size: 4em;
			--icon-easing: linear(
				0,
				0.076 9.6%,
				0.148 17%,
				0.226 23.4%,
				0.315 29.2%,
				0.529 39.5%,
				0.999 57.7%,
				0.85 65.9%,
				0.814 69.6%,
				0.803 73.3%,
				0.81 76.3%,
				0.832 79.5%,
				0.977 92.9%,
				0.995 96.3%,
				1
			);
			--icon-duration: 80ms;

			transition:
				transform var(--icon-easing) var(--icon-duration),
				width var(--icon-easing) var(--icon-duration);

			img {
				width: var(--icon-size);
				height: var(--icon-size);
				place-self: center;
				pointer-events: none;
			}

			display: flex;
			width: min-content;
			flex-direction: column;
			place-self: center;
			text-align: center;
			gap: 5px;
			font-size: var(--text-xs);
			text-decoration: none;
			line-height: 1.52rem;
			color: var(--clr-base-content);

			&:hover {
				color: oklch(from var(--clr-base-content) l c h / 56.6%);
				transform: rotate(5deg);
				filter: drop-shadow(0 0 10px var(--clr-base-content));

				& > img {
					width: calc(var(--icon-size) * 1.2);
					height: calc(var(--icon-size) * 1.2);
				}
			}
		}

		.desktop__cards {
			container: desktop-cards / inline-size;
			position: relative;
			overflow: visible;
			margin-bottom: 2rem;
			will-change: transform;
		}

		@media (max-width: 640px) {
			padding-block: 2.5rem;
			padding-inline: 0.85rem;
			grid-template-columns: 1fr;
		}
	}

	/*.label {
        display: inline-flex;
        align-items: center;
        gap: 0.375rem;
        white-space: nowrap;

        &:has(input) {
            cursor: none;
        }

        &:is(.input > *, .select > *) {
            display: flex;
            height: calc(100% - 0.5rem);
            align-items: center;
            white-space: nowrap;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            font-size: inherit;

            &:first-child {
                margin-inline: -0.75rem 0.75rem;
                border-inline-end: var(--border) solid
                    color-mix(in oklab, currentColor 10%, #0000);
            }

            &:last-child {
                margin-inline: 0.75rem -0.75rem;
                border-inline-start: var(--border) solid
                    color-mix(in oklab, currentColor 10%, #0000);
            }
        }
    }*/

	.prose a,
	.link {
		display: inline-block;
		color: var(--clr-base-content);
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-thickness: 2px;
		font-size: var(--text-base);
		line-height: 1.5em;

		&:hover {
			color: oklch(from var(--clr-base-content) l c h / 72.5%);
			outline: 1px dashed var(--clr-base-content);
			outline-offset: 1px;
		}

		&.link--no-underline {
			text-decoration: none;
			text-underline-offset: 0;
			text-decoration-thickness: 0;
		}
	}

	/* [ AVATAR COMPONENT ] */
	.avatar {
		position: relative;
		display: inline-flex;
		vertical-align: middle;

		& > div {
			display: block;
			aspect-ratio: 1 / 1;
			overflow: hidden;
		}

		/* stylelint-disable-next-line no-descending-specificity */
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		&.avatar--status::before {
			content: "";
			display: block;
			position: absolute;
			right: 7%;
			bottom: 7%;

			z-index: 1;
			width: 20%;
			height: 20%;
			border: 3px solid transparent;
			background:
				linear-gradient(lime, lime) padding-box,
				linear-gradient(
					180deg,
					light-dark(
							var(--clr-base),
							oklch(from var(--clr-base-content) l c h / 20%)
						)
						5%,
					light-dark(
							var(--clr-base),
							oklch(
								from var(--clr-secondary) calc(l - 0.1) c h /
								80%
							)
						)
						100%
				)
				border-box;
			border-radius: 100%;
		}
	}

	.nav-divider {
		position: relative;
		display: flex;
		gap: 5px;
		font-size: var(--text-xs);
		white-space: nowrap;
		align-items: center;
		vertical-align: middle;
		color: color-mix(
			in oklab,
			var(--clr-secondary),
			var(--clr-primary) 50%
		);
		margin-bottom: 1.5em;
		margin-inline: 1.5em;

		&:before {
			content: "#";
			left: 0;
		}

		&:after {
			content: "";
			background: color-mix(
				in oklab,
				currentColor,
				light-dark(var(--clr-primary), var(--clr-secondary)) 70%
			);
			height: 1px;
			width: 100%;
			flex-grow: 1;
		}
	}

	.nav-list {
		list-style: none;
		display: inline;
		gap: 0.5em;
		width: 100%;
	}

	.nav-list li {
		line-height: 1.2rem;
		margin-inline: 1.5rem;
		display: inline-block;
		width: max-content;

		.btn {
			margin: 0;
			font-size: var(--text-xs);
		}
	}

	.action-bar {
		display: flex;
		flex-direction: column;
		gap: 1.3em;

		/* border: 1px solid var(--clr-base); */

		text-align: center;
		line-height: 1.5rem;

		/* stylelint-disable-next-line property-no-unknown */
		corner-shape: squircle;
		border-radius: 100%;
		height: auto;
		width: auto;
		padding-block: 1.2rem;
		padding-inline: 0.3rem;
	}

	.action-bar__item {
		color: light-dark(var(--clr-secondary), var(--clr-base));
		transition: all 0.3s cubic-bezier(1, 0.01, 0, 0.6);

		label {
			display: block;
			font-size: 1rem;
		}

		&:hover {
			color: light-dark(var(--clr-secondary), var(--clr-base));
		}
	}

	/* // ﹒⭒﹒⭒﹒⭒﹒ Button ﹒⭒﹒⭒﹒⭒﹒ // */
	.btn {
		display: inline-flex;
		gap: 0.85rem;
		align-items: center;
		justify-content: center;
		padding: var(--size-2xs);
		white-space: nowrap;
		font-family: var(--font-zpix);
		color: var(--clr-base-content);
		user-select: none;
		font-size: var(--text-sm);
		cursor: none;
		background-color: transparent;

		border-top: none;
		border-left: none;
		border-right: 2px solid var(--clr-base-content);
		border-bottom: 2px solid var(--clr-base-content);

		margin-inline: calc(var(--size-sm) - 0.3rem);
		margin-block: var(--size-sm);
		letter-spacing: 1px;

		&.btn--disabled {
			opacity: 50%;
			pointer-events: none;
		}

		&.btn--window {
			padding: calc(var(--size-2xs) - 7px);
			margin-inline: 0;
			margin-block: calc(var(--size-2xs) - 6px);
			border: 2px solid var(--clr-base-content);
			color: var(--clr-base-content);
			background: inherit;
			transition: transform 0.3s ease-in-out;

			[data-icon] {
				width: clamp(1.2em, 1.5vw, 1.5em);
				height: auto;
				fill: currentColor;
			}
		}

		&.btn--outlined {
			border: 2px solid var(--clr-base-content);
			color: var(--clr-base-content);
			background: inherit;
			transition:
				background 0.3s
				linear(
					0,
					0.283 9.3%,
					0.529 20%,
					0.75 32.8%,
					0.911 45.7%,
					0.963 51.7%,
					1 57.7%,
					0.979 63.8%,
					0.973 70.3%,
					0.996 90.4%,
					1
				),
				color 0.3s
				linear(
					0,
					0.283 9.3%,
					0.529 20%,
					0.75 32.8%,
					0.911 45.7%,
					0.963 51.7%,
					1 57.7%,
					0.979 63.8%,
					0.973 70.3%,
					0.996 90.4%,
					1
				);
		}

		&.btn--soft {
			color: var(--clr-base-content);
			background: oklch(from var(--clr-base-content) calc(l + 0.5) c h);
			transition:
				background 0.3s
				linear(
					0,
					0.283 9.3%,
					0.529 20%,
					0.75 32.8%,
					0.911 45.7%,
					0.963 51.7%,
					1 57.7%,
					0.979 63.8%,
					0.973 70.3%,
					0.996 90.4%,
					1
				),
				color 0.3s
				linear(
					0,
					0.283 9.3%,
					0.529 20%,
					0.75 32.8%,
					0.911 45.7%,
					0.963 51.7%,
					1 57.7%,
					0.979 63.8%,
					0.973 70.3%,
					0.996 90.4%,
					1
				);
		}

		&:hover:is(:not(.btn--window, .btn--outlined, .btn--soft)) {
			outline: 1.5px dashed var(--clr-base-content);
			outline-offset: -5px;
		}

		&:hover.btn--window {
			transform: scale(110%);
		}

		&:hover:has(.btn--outlined) {
			background: var(--clr-base-content);
			color: var(--clr-base);
		}

		&:hover:has(.btn--soft) {
			background: var(--clr-base-content);
			color: var(--clr-base);
		}
	}

	.c-menu:popover-open {
		display: flex;
		flex-direction: column;
		text-align: left;
		background-color: light-dark(var(--clr-base), var(--clr-secondary));
		border: 1px solid var(--clr-base-content);
		box-shadow: 10px 10px 0px -3px
			oklch(from var(--clr-base-content) l c h / 75%);
		border-radius: 0;
		cursor: none;

		top: anchor(bottom);
		left: anchor(left);
	}
	.c-menu .option {
		padding-block: 0.5em;
		padding-inline: 1.5em;
		font-size: var(--text-sm);
		color: var(--clr-base-content);
		transition:
			background-color 0.2s ease-in,
			color 0.3s ease-in;

		&:is(:hover, :focus, :focus-visible) {
			/*color: light-dark(var(--clr-secondary), var(--clr-primary));*/
			outline: 1.5px dashed var(--clr-base-content);
			outline-offset: -2px;
		}
		&:is(:focus, :focus-visible) {
			outline: 2px solid currentColor;
			outline-offset: -2px;
		}
	}

	/* [ BUTTON // MUSIC-BUTTON ] */
	.music-btn {
		position: relative;
		width: 42px;
		padding: 0.7rem;
		height: 100%;
		border-right: 2px solid var(--clr-base-content);
		transition: background-color 200ms ease-in-out;

		&:hover {
			background-color: oklch(from var(--clr-base-content) l c h / 26.6%);
		}
	}

	/* [ MUSIC PLAYER ] */
	.music-player {
		position: relative;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 5px;
		border: 2px solid var(--clr-base-content);

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;

		> input[type="range"] {
			appearance: none;
			outline: none;
			overflow: hidden;
			width: 6rem;
			height: 1rem;

			&::-webkit-slider-runnable-track {
				background-color: var(--clr-base-content);
				height: 1rem;
			}

			&::-webkit-slider-thumb {
				background: var(--clr-base);
				height: 15px;
				width: 15px;
				border-radius: 50%;
				border: none;
				appearance: none;
			}

			&:focus {
				outline: none;
			}
		}
	}

	.music-player__playlist {
		margin-top: 0.5rem;
		user-select: none;

		> ul > li {
			padding-block: 0.8rem;
			padding-inline: 0.7rem;
			list-style-type: none;
			transition: background-color 300ms ease-out;

			&.song-currently-playing {
				background-color: oklch(81.092% 0.1686 77.945deg / 26.6%);
			}
		}
	}

	/* [ MODAL ] */
	.modal {
		position: fixed;
		inset: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		overflow: clip;
		z-index: 5;
		overscroll-behavior: contain;
		border: none;
		scrollbar-gutter: auto;

		display: grid;
		align-items: end;

		background: transparent;
		padding: 0;
		color: inherit;

		opacity: 0;

		pointer-events: none;
		transition:
			visibility 0.3s allow-discrete,
			background 0.3s ease-out,
			opacity 0.5s cubic-bezier(0.78, 0, 0.22, 1);
		/* backdrop-filter 1s 0.3s cubic-bezier(0.78, 0, 0.22, 1) */

		&::backdrop {
			display: none;
		}

		.name {
			font-weight: 900;
			height: auto;
			letter-spacing: 0;
			font-size: 2rem;
			margin-block: 0.55rem;
			line-height: 20px;
		}
		.avatar {
			margin-bottom: 1rem;
		}

		&::before {
			content: "";
			position: absolute;
			opacity: 0;
			inset: 0;
			transition: opacity 0.5s ease-in-out;
			/* animation: bg-scroll-alt 30s linear infinite; */
			/* background: var(--bg-overlay-grad); */
		}

		&[open],
		&:target {
			pointer-events: auto;
			visibility: visible;
			opacity: 1;
			background-color: oklch(from var(--clr-secondary) l c h / 90%);
			transition:
				visibility 0s allow-discrete,
				background 0.3s ease-out,
				opacity 0.5s cubic-bezier(0.78, 0, 0.22, 1);

			&::before {
				opacity: 1;
			}

			.modal__content {
				transform: translateY(0);
				translate: 0 0;
				opacity: 1;
			}

			@starting-style {
				&[open],
				&:target {
					/*visibility: hidden;*/
					opacity: 0;
				}
			}
		}

		.modal__content {
			position: fixed;
			top: anchor(bottom);
			left: anchor(left);
			position-anchor: --taskbar;

			transition:
				transform 0.8s
				linear(
					0,
					0.015 1.2%,
					0.064 2.7%,
					0.438 10.6%,
					0.631 15.9%,
					0.711 18.9%,
					0.778 22.1%,
					0.833 25.6%,
					0.879 29.5%,
					0.916 33.8%,
					0.943 38.6%,
					0.979 50.8%,
					0.995 68%,
					1
				),
				opacity 0.4s cubic-bezier(0.66, 0, 0.34, 1);
			will-change: transform;
			border-radius: 0.2rem;
			background: linear-gradient(
				180deg,
				light-dark(
						var(--clr-base),
						oklch(from var(--clr-base-content) l c h / 20%)
					)
					5%,
				light-dark(
						var(--clr-base),
						oklch(from var(--clr-secondary) calc(l - 0.1) c h / 80%)
					)
					100%
			);

			border: 1px solid var(--clr-base-content);

			color: var(--clr-base-content);
			width: 91.66%;
			z-index: 2000;
			/*height: 32rem;*/
			width: 32rem;

			display: grid;
			grid-template-columns: 13rem auto;
			grid-template-rows: auto 1fr auto;
			/* grid-template-rows: auto 1fr auto; */
			grid-template-areas:
				"menu-action	menu-action"
				"menu-info		menu-links"
				"menu-options	menu-options";

			/* opacity: 0; */
			transform: translateY(-100%);

			overflow: hidden;
			font-size: 1.5rem;
		}

		.modal__action {
			margin-top: 0.2rem;
			grid-area: menu-action;
			/* margin-bottom: 1.2rem; */
			& > form[method="dialog"] {
				display: flex;
				align-items: center;
				padding-inline: 1rem;
				padding-block: 1.5rem;
				justify-content: start;
				width: 100%;
			}
		}

		.modal__info {
			grid-area: menu-info;

			justify-content: center;
			text-align: center;
			border-right: 1px solid var(--clr-base-content);
			border-bottom: 1px solid var(--clr-base-content);
			border-top: 1px solid var(--clr-base-content);
			padding-block: 15px;
			padding-inline: 15px;
			overflow: auto;

			p {
				font-size: clamp(0.75rem, 2vw, 1rem);
				padding-left: 2rem;
				text-align: left;
				font-style: italic;
			}
		}

		.modal__links {
			grid-area: menu-links;

			border-bottom: 1px solid var(--clr-base-content);
			border-top: 1px solid var(--clr-base-content);
		}

		.modal__options {
			grid-area: menu-options;

			display: flex;
			padding-inline: 1.5rem;
			padding-block: 0.55rem;
			align-items: center;
		}

		/* For an unknown reason, it still adds the default cursor even with the cursor being disabled universally (resets.css) */
		button {
			cursor: none;
		}

		@media screen and (max-width: 550px) {
			.modal__content {
				width: 100%;
				position-area: top center;
			}
		}

		@media screen and (max-width: 426px) {
			h4 {
				margin-bottom: 0;
			}
			.avatar {
				margin-bottom: 0;
				place-self: center;
			}

			.modal__content {
				inset: unset;
				width: 100%;
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto 1fr 17rem auto;
				overscroll-behavior: contain;
				transform: translateY(100%);

				/* grid-template-rows: auto 1fr auto; */
				grid-template-areas:
					"menu-action"
					"menu-info"
					"menu-links"
					"menu-options";
			}
			.modal__action {
				margin-block: 0.5rem;
				& > form[method="dialog"] {
					display: flex;
					align-items: center;
					padding-inline: 1rem;
					/*padding-block: 1.5rem;*/
					padding-block: 0;
					justify-content: start;
					width: 100%;
					height: 100%;
				}
			}
			.modal__info {
				/*overflow: auto;*/
				display: grid;
				grid-template-areas:
					"avatar	name"
					"avatar	details";
				column-gap: 20px;
				justify-content: unset;
				text-align: left;
				border-inline: unset;
				border-bottom: 3.5px solid var(--clr-base-content);

				p {
					padding-left: 0;
				}
			}
			.modal__links {
				border-top: unset;
				overflow-y: scroll;
			}
		}
	}

	.startmenu__list {
		position: relative;
		grid-area: menu-links;
		list-style: none;
		height: 100%;
		font-size: min(1rem, 4vw);
		display: grid;
		grid-auto-rows: 1fr;

		li {
			height: 100%;
		}
		li > a {
			text-decoration: none !important;
			border-bottom: 1px solid var(--clr-base-content);
			border-top: none;
			color: var(--clr-base-content);
			display: flex;
			height: 100%;
			align-items: center;
			font-family: var(--font-tickerbit);
			vertical-align: middle;
			padding-block: 0.7rem;
			padding-left: 1rem;
			transition:
				background-color 0.2s ease-in,
				color 0.3s ease-in;

			&::after {
				content: "";
				mask: url("../assets/icons/arrow_right.svg") no-repeat;
				mask-size: cover;
				background-color: var(--clr-base-content);
				width: 1.5em;
				height: 1.5em;
				position: absolute;
				transition: transform 0.25s ease-in-out;
				right: 1.3em;
			}

			&:is(:hover, :focus, :focus-visible) {
				background-color: var(--clr-base-content);
				color: light-dark(var(--clr-secondary), var(--clr-primary));

				&::after {
					background-color: light-dark(
						var(--clr-secondary),
						var(--clr-primary)
					);
					transform: translateX(6px);
				}
			}
			&:is(:focus, :focus-visible) {
				outline: 2px dashed currentColor;
				outline-offset: -2px;
			}
		}

		li:last-child > a {
			/* border-top: 1px solid var(--clr-base-content); */
			border-bottom: none;
		}
	}

	.post__action {
		display: flex;
		align-items: center;
		justify-content: space-around;

		div {
			--hovered-btn: light-dark(var(--clr-secondary), var(--clr-base));

			display: inline-flex;
			margin-right: 1rem;
			align-items: center;
		}

		div > button {
			border-radius: 50em;
			color: light-dark(var(--clr-secondary), var(--clr-base));
			border: none;
			box-shadow: none;
			vertical-align: middle;
			width: 2rem;
			height: 2rem;
			place-items: center;
			display: grid;
			transition: all 300ms ease-in-out;
			background: none;

			&:hover {
				background-color: oklch(
					from var(--hovered-btn) 0.543deg c h /
					30%
				);

				+ :where(span) {
					color: var(--hovered-btn);
				}
			}

			/* stylelint-disable-next-line no-descending-specificity */
			> img {
				pointer-events: none;
			}
		}
	}

	/* [ GALLERY ] */
	.gallery {
		.gallery__container {
			display: flex;
			overflow: auto hidden;
			overscroll-behavior-x: contain;
			padding-left: 0;
			scroll-snap-type: x mandatory;
			scroll-snap-align: start;
			scroll-marker-group: after;
			scrollbar-width: none;
		}

		.gallery__container > div {
			display: flex;
			inline-size: 100%;
			aspect-ratio: 1 / 1;

			&::scroll-marker {
				content: "";
				background: light-dark(
					oklch(from var(--clr-base) calc(l - 0.1) c h),
					oklch(from var(--clr-secondary) calc(l + 0.1) c h)
				);
				display: inline-block;
				border-radius: 5em;
				cursor: none;
				transition:
					background-color 0.2s ease-in,
					transform 0.1s ease-in-out;
				padding: 0.25rem;
				aspect-ratio: 1 / 1;
			}

			&::scroll-marker:hover {
				background-color: light-dark(
					oklch(from var(--clr-base) calc(l - 0.3) c h),
					oklch(from var(--clr-secondary) calc(l + 0.3) c h)
				);
			}

			/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
			&::scroll-marker:target-current {
				background: light-dark(
					oklch(from var(--clr-base) calc(l - 0.5) c h),
					oklch(from var(--clr-secondary) calc(l + 0.5) c h)
				);
			}
		}

		.gallery__container > div > img {
			object-fit: cover;
			height: 100%;
			flex: 0 0 100%;
			scroll-snap-align: center;
			text-align: center;
			border-radius: 5px;
		}

		.gallery__tags {
			border-top: 1px solid darkgray;
			margin-top: 1rem;
			padding-top: 1rem;
		}
	}

	.avatar-group > * ~ * {
		display: inline-flex;
		overflow: hidden;
		margin-left: -0.9rem;
		border-radius: 100%;
		border: 4px solid light-dark(var(--clr-base), var(--clr-secondary));
	}

	/* [ DIVIDER ] */
	.divider {
		--_divider-color: color-mix(
			in oklab,
			var(--clr-base-content) 90%,
			transparent
		);
		--_divider-m: 1rem 0;

		position: relative;
		display: flex;
		flex-direction: row;
		height: 4rem;
		align-items: center;
		align-self: stretch;
		white-space: nowrap;
		margin: var(--_divider-m);
		font-size: 3rem;
		font-family: "Raster Forge", Helvetica, sans-serif;
		color: var(--_divider-color);

		&::before,
		&::after {
			border: none;
			background-color: var(--_divider-color);
			content: "";
			height: 1px;
			width: 100%;
			flex-grow: 1;
		}

		&:not(:empty) {
			gap: 0.8em;
		}

		&:has(.divider--vertical) {
			--_divider-m: 1rem 0;

			height: auto;
			width: 4rem;
			flex-direction: column;

			&::before,
			&::after {
				height: 100%;
				width: 0.5rem;
			}
		}
	}

	.box {
		background: linear-gradient(
			180deg,
			light-dark(
					var(--clr-base),
					oklch(from var(--clr-base-content) l c h / 20%)
				)
				5%,
			light-dark(
					var(--clr-base),
					oklch(from var(--clr-secondary) calc(l - 0.1) c h / 80%)
				)
				100%
		);
		box-shadow: 10px 10px 0px -3px
			oklch(from var(--clr-base-content) l c h / 80%);
		border: 2px solid var(--clr-base-content);
		padding-inline: 0.5rem;
		padding-top: 0.3rem;
		block-size: min(100%, 100dvh);
		inline-size: min(100%, 100dvw);

		@media only screen and (max-width: 640px) {
			box-shadow: 7px 7px 0px -3px var(--clr-base-content);
		}
	}

	/* [ CARD ] */
	.card {
		container: card / inline-size;

		display: grid;
		grid-template-rows: 2.7rem 1fr max-content;
		padding-top: 0.35rem;
		padding-inline: 0.35rem;
		margin-block: 2rem;
		background: linear-gradient(
			180deg,
			light-dark(
					var(--clr-base),
					oklch(from var(--clr-base-content) l c h / 30%)
				)
				5%,
			light-dark(
					var(--clr-base),
					oklch(from var(--clr-secondary) calc(l - 0.1) c h / 80%)
				)
				100%
		);
		box-shadow: 10px 10px 0px -3px
			oklch(from var(--clr-base-content) l c h / 80%);
		border: 2px solid var(--clr-base-content);

		& > .card__header {
			grid-row: 1 / 2;
			display: grid;
			grid-template-columns: repeat(2, auto);
			place-items: center;
			margin-bottom: 0.4rem;
			block-size: fit-content;
			background-color: light-dark(var(--clr-base), transparent);
			border: 2px solid var(--clr-base-content);
			padding-right: 0.2rem;
			padding-left: 0.7rem;
			transition:
				background-color 150ms ease-in-out,
				color 150ms ease-in-out;

			span {
				font-size: var(--text-sm);
				letter-spacing: clamp(0.4px, 0.28vw, 3px);
				line-height: clamp(1em, 0.5vw, 2em);
				font-family: var(--font-pixelmplus);
			}

			[data-icon],
			svg {
				width: min(1.25em, 4.5vw);
				height: auto;
			}

			&:hover {
				background-color: var(--clr-base-content);
				color: var(--clr-base);
			}
			&:hover .btn {
				color: var(--clr-base);
				border: 2px solid var(--clr-base);
			}
		}

		& > .card__content {
			grid-row: 2 / 3;
			padding-block: 0.5rem;
			padding-inline: 1.25rem;
			background-color: light-dark(var(--clr-base), transparent);
			color: light-dark(var(--clr-secondary), var(--clr-primary));
			border: 2px solid var(--clr-base-content);
			overflow: auto;
			inline-size: 100%;
			block-size: 100%;
		}

		& > .card__design {
			inline-size: 100%;
			display: flex;
			place-items: start;
			column-gap: 3px;
			margin-top: 0.35rem;
			margin-bottom: -2px;
			place-self: end;

			.block-one {
				display: block;
				block-size: 0.7rem;
				inline-size: 2.4rem;
				border: 2px solid var(--clr-base-content);
				background: oklch(
					from var(--clr-base-content) calc(l + 0.1) c h
				);
			}

			.miniblock {
				display: block;
				padding: 0.1rem;
				border: 2px solid var(--clr-base-content);
				background: oklch(
					from var(--clr-base-content) calc(l + 0.1) c h
				);
			}
		}

		@media (max-width: 640px) {
			margin-top: 0;
			margin-bottom: 2rem;
			box-shadow: 7px 7px 0px -3px var(--clr-base-content);
		}
	}
	.card,
	.box {
		transition:
			opacity 200ms ease-in-out,
			transform 400ms 0.2ms cubic-bezier(0.04, 0.91, 0.51, 0.97);
		transform: translateY(10%);
		opacity: 0;
	}
	.cards-reveal {
		transform: none;
		opacity: 1;
	}
	/*.card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-block: 2em;
    position: relative;
    margin-inline: 1.5em;
    box-shadow: 7px 7px 0 0 oklch(from var(--clr-base-content) l c h / 52%);
    left: 0;
    top: 0;
    background: linear-gradient(
      180deg,
      light-dark(
          var(--clr-base),
          oklch(from var(--clr-base-content) l c h / 20%)
        )
        5%,
      light-dark(
          var(--clr-base),
          oklch(from var(--clr-secondary) calc(l - 0.1) c h / 80%)
        )
        100%
    );
    border: 2px solid var(--clr-base-content);
    block-size: fit-content;
    inline-size: 100%;

    overflow: hidden;

    .card__titleBar {
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: end;
      background-color: var(--clr-base-content);
      color: light-dark(var(--clr-base), var(--clr-secondary));
      padding-inline: 0.5rem;
      padding-block: 0.8rem;
      text-align: end;
    }

    .card__content {
      overflow: hidden;
      padding-inline: 1.2rem;
      padding-block: 1rem;
      font-size: 0.9rem;
      color: light-dark(var(--clr-secondary), var(--clr-primary));
    }
  }*/

	.radial-progress {
		--value: 0;
		--size: 5rem;
		--thickness: calc(var(--size) / 10);
		--radialprogress: calc(var(--value) * 1%);

		transition: --radialprogress 0.3s linear;
		position: relative;
		display: inline-grid;
		height: var(--size);
		width: var(--size);
		place-content: center;
		border-radius: 5em;
		background: transparent;
		vertical-align: middle;
		box-sizing: content-box;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: 5em;
			background:
				radial-gradient(farthest-side, currentColor 98%, #0000) top /
				var(--thickness) var(--thickness) no-repeat,
				conic-gradient(currentColor var(--radialprogress), #0000 0);
			-webkit-mask: radial-gradient(
				farthest-side,
				#0000 calc(100% - var(--thickness)),
				#000 calc(100% + 0.5px - var(--thickness))
			);
			mask: radial-gradient(
				farthest-side,
				#0000 calc(100% - var(--thickness)),
				#000 calc(100% + 0.5px - var(--thickness))
			);
		}

		&::after {
			content: "";
			position: absolute;
			inset: calc(50% - var(--thickness) / 2);
			transform: rotate(calc(var(--value) * 3.6deg - 90deg))
				translate(calc(var(--size) / 2 - 50%));
			transition: transform 0.3s linear;
			background-color: currentColor;
			border-radius: 5em;
		}
	}

	/* [ DESKTOP -- taskbar ] */
	.desktop__taskbar {
		anchor-name: --taskbar;
		display: grid;
		grid-template-columns: repeat(3, minmax(1rem, 1fr));
		align-items: center;
		justify-content: center;

		position: fixed;
		top: 5px;
		left: 10px;
		right: 10px;

		background: radial-gradient(
			circle,
			light-dark(
					var(--clr-base),
					oklch(from var(--clr-base-content) l c h / 50%)
				)
				5%,
			light-dark(
					var(--clr-base),
					oklch(from var(--clr-secondary) calc(l - 0.1) c h / 70%)
				)
				100%
		);

		color: light-dark(var(--clr-base-content), var(--clr-base));
		border: 2px solid var(--clr-base-content);
		border-radius: 0;
		font-size: var(--size-xs);
		block-size: 2.6rem;
		/*inline-size: min(100%, 100dvw);*/
		z-index: 10;
		transition-behavior: allow-discrete;

		.desktop__taskbar--position-start {
			display: inline-flex;
			justify-self: left;
			text-align: center;
			grid-column: 1;
			gap: 0.1rem;
			height: 100%;

			& > .taskbar__menu {
				display: flex;
				place-content: center;
				place-items: center;
				height: 100%;
				width: fit-content;
				font-size: 1.2em;
				letter-spacing: 2.5px;
				padding-inline: 1.1rem;
				color: var(--clr-base-content);

				border: none;
				/*border-right: 1px solid var(--clr-base-content);*/
				outline: none;
				background-color: transparent;

				gap: 1.2em;
				transition: all 450ms ease-in-out;
				font-family: inherit;

				&:hover {
					color: light-dark(var(--clr-secondary), var(--clr-primary));
				}
			}
		}

		.desktop__taskbar--position-center {
			white-space: nowrap;
			justify-self: center;
			overflow: hidden;
			height: 100%;
		}

		.desktop__taskbar--position-end {
			display: inline-flex;
			justify-self: end;
			height: 100%;
			gap: 1em;
			margin-inline: 1rem;
		}

		@media screen and (max-width: 426px) {
			grid-template-columns: 1fr;
			left: 0;
			right: 0;
			bottom: 0;
			top: unset;
			block-size: 2.25rem;
			border-inline: unset;
			border-block-end: unset;

			.desktop__taskbar--position-center {
				display: none;
			}
			.desktop__taskbar--position-end {
				display: none;
			}
		}
	}

	.animate-taskbar {
		animation: transform-bottom 2200ms 500ms
			linear(
				0,
				0.029 1.6%,
				0.123 3.5%,
				0.651 10.6%,
				0.862 14.1%,
				1.002 17.7%,
				1.046 19.6%,
				1.074 21.6%,
				1.087 23.9%,
				1.086 26.6%,
				1.014 38.5%,
				0.994 46.3%,
				1
			)
			both;

		@media (prefers-reduced-motion: reduce) {
			animation: none;
		}
	}

	.toggle-maximize {
		display: grid;
		grid-template-areas: "stack";
		white-space: nowrap;

		& div {
			grid-area: stack;
		}

		& > input[type="checkbox"] {
			grid-area: stack;
			appearance: none;
			width: 100%;
			visibility: hidden;
		}
	}
	.desktop:has(.toggle-maximize > input[type="checkbox"]:checked) {
		grid-template-columns: 1fr;

		.desktop__nav,
		.desktop__apps {
			display: none;
		}

		@media screen and (max-width: 769px) {
			padding-inline: 1rem;
			/*padding-block: 0.5rem;*/
		}
	}

	.pill {
		--pill-color: var(--clr-base-content);
		--pill-color-content: var(--clr-base);
		--pill-px: 1.2rem;
		--pill-py: 0.1rem;

		display: inline-block;
		position: relative;
		padding-inline: var(--pill-px);
		padding-block: var(--pill-py);
		margin-block: 0.2rem;

		font-family: var(--font-tickerbit);
		font-size: 0.8rem;
		white-space: nowrap;
		text-wrap: nowrap;

		vertical-align: middle;

		border-radius: 100%;
		overflow: hidden;
		width: auto;
		background-color: var(--pill-color);
		color: var(--pill-color-content);

		&.pill--outlined {
			border: 1px solid var(--pill-color);
			color: var(--pill-color);
			background-color: transparent;
		}

		&.pill--grad {
			display: inline-block;
			color: #000;

			& > span {
				background: var(--pill-color);
				background-clip: text;
				-webkit-text-fill-color: transparent;
				color: transparent;
			}

			&:before {
				content: "";
				position: absolute;
				inset: 0;
				border-radius: inherit;
				padding: 1px; /* controls border thickness */

				background: var(--pill-color);
				-webkit-mask:
					linear-gradient(white, white) content-box,
					linear-gradient(white, white);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
			}
		}

		&.pill--neutral {
			--pill-color: light-dark(var(--clr-secondary), var(--clr-primary));
			--pill-color-content: light-dark(
				var(--clr-base),
				var(--clr-secondary)
			);
			border: 1px solid var(--pill-color);
		}

		&.pill--subtle {
			border: 1px solid var(--pill-color);
			background-color: oklch(from var(--pill-color) l c h / 20%);
			color: var(--pill-color);
		}

		&.pill--success {
			--pill-color: oklch(76.91% 0.2146 147deg);
		}

		&.pill--warning {
			--pill-color: oklch(83.33% 0.1579 82.06deg);
		}

		&.pill--sm {
			--pill-px: 0.8rem;
			--pill-py: 0.15rem;

			font-size: clamp(0.55em, 2vw, var(--size-sm));
		}
	}

	.fade-container {
		display: inline;
		max-inline-size: 100%;
		overflow: auto;
		vertical-align: middle;
		white-space: nowrap;
	}

	.adachiRei {
		animation: transform-bottom 2200ms 500ms
			linear(
				0,
				0.029 1.6%,
				0.123 3.5%,
				0.651 10.6%,
				0.862 14.1%,
				1.002 17.7%,
				1.046 19.6%,
				1.074 21.6%,
				1.087 23.9%,
				1.086 26.6%,
				1.014 38.5%,
				0.994 46.3%,
				1
			)
			forwards;
		width: min(300px, 75vw);
		height: auto;
		position: fixed;
		position-anchor: --taskbar;
		position-area: left;
		pointer-events: none;
		z-index: 1;
	}
}
