@layer base {
  ::-moz-selection {
    background-color: var(--clr-base-content);
    color: light-dark(var(--clr-secondary), var(--clr-base));
  }

  ::selection {
    background-color: var(--clr-base-content);
    color: light-dark(var(--clr-secondary), var(--clr-base));
  }

  :root[data-theme="dark"] {
    /* --clr-base-content: oklch(78.211% 0.16941 69.512); */
    text-shadow: 0 0 2.5px currentColor;
    color-scheme: dark;

    body {
      background:
        radial-gradient(circle at 1px 1px,
          light-dark(oklch(0.0772 0 299 / 25%),
            oklch(100% 0.00011 271.152 / 0.25)) 1px,
          transparent 0),
        /* Gradient at the bottom page */
        radial-gradient(200% 115% at 50% 10%,
          transparent 50%,
          var(--clr-base-content) 100%) no-repeat fixed;
      background-size:
        var(--bg-size) var(--bg-size),
        100% 100%;
    }
  }

  :root[data-theme="light"] {
    color-scheme: light;
  }

  h2,
  h3 {
    font-family: "Raster Forge", Arial, monospace;
    line-height: 26.18px;
    font-style: normal;
    margin-bottom: 0.9rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: 480;
    line-height: 3em;
  }

  h5 {
    font-size: 0.9rem;
    font-weight: 450;
    letter-spacing: 1px;
    font-style: italic;
    line-height: 2em;
  }

  ::scroll-marker-group {
    position: absolute;
    anchor-name: --carousel;
    top: anchor(bottom);
    left: calc(anchor(left) - 10%);
    right: calc(anchor(right) - 10%);
    inline-size: 45px;

    overflow-x: auto;
    scroll-snap-type: mandatory;
    overscroll-behavior-x: contain;

    display: grid;
    gap: 0.6em;
    place-content: safe center;
    justify-self: center;
    grid-auto-columns: 0.5rem;
    grid-auto-flow: column;
    margin-block: 0.5rem;
    scroll-behavior: smooth;
    scrollbar-width: none;

    padding: 5px 10px;
    /* space for focus and scroll */
    scroll-padding-inline: 10px;
    mask: linear-gradient(to right,
        transparent 0,
        black 10px,
        black calc(100% - 10px),
        transparent 100%);
  }

  mark {
    background-color: var(--clr-base-content);
    color: light-dark(var(--clr-secondary), var(--clr-base));
    padding: 2px;
  }

  del,
  s {
    text-decoration-color: light-dark(var(--clr-secondary), var(--clr-base));
  }

  q {
    font-style: italic;
  }

  code {
    background-color: oklch(0.3632 0 83);
    font-family: monospace;
    letter-spacing: 1.5px;
    color: var(--clr-base);
    padding-block: 2px;
    padding-inline: 5px;
    border-radius: 3px;
  }

  body {
    --bg-size: 30px;
    font-family: "Tickerbit", monospace, Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    position: relative;
    color: var(--clr-base-content);

    transition:
      background-color var(--transition-duration) var(--transition-ease),
      color var(--transition-duration) var(--transition-ease);

    background-color: light-dark(var(--clr-base), var(--clr-secondary));
    background: radial-gradient(circle at 1px 1px,
        light-dark(oklch(0.0772 0 299 / 25%), oklch(100% 0.00011 271.152 / 0.25)) 1px,
        transparent 0);

    background-size: var(--bg-size) var(--bg-size);
    will-change: background-position;
    animation: bg-scroll 40s linear infinite;

    inset: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
  }

  progress {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    accent-color: var(--clr-primary);
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-base-content);
    height: 0.5rem;
    width: 20rem;
    margin-left: 1rem;

    &::-webkit-progress-bar {
      background-color: light-dark(var(--clr-primary),
          oklch(from var(--clr-secondary) calc(l + 0.12) c h));
    }

    &::-webkit-progress-value {
      background-color: var(--clr-base-content);
    }

    &::-moz-progress-bar {
      background-color: var(--clr-base-content);
    }
  }

  input {
    border: none;

    &:focus {
      border: none;
      outline: none;
    }
  }

  form[method="dialog"] {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 1.5rem;
    justify-content: start;
    width: 100%;
  }
}
