/* ---------------------- */
@font-face {
  font-family: "Tickerbit";
  src: url("../public/fonts/Tickerbit/Tickerbit-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Tickerbit";
  src: url("../public/fonts/Tickerbit/Tickerbit-italic.otf");
  font-weight: normal;
  font-style: italic;
}

/* ---------------------- */

@font-face {
  font-family: "Yuruka STD";
  src: url("../public/fonts/fot-yuruka-std.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Raster Forge";
  src: url("../public/fonts/Raster Forge.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Kirom";
  src: url("../public/fonts/Kirom.otf");
  font-weight: normal;
}

