/* ---------------------- */
@font-face {
  font-family: 'Tickerbit';
  src: url('../assets/fonts/Tickerbit/Tickerbit-regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Tickerbit';
  src: url('../assets/fonts/Tickerbit/Tickerbit-italic.otf');
  font-weight: normal;
  font-style: italic;
}

/* ---------------------- */

@font-face {
  font-family: 'Yuruka STD';
  src: url('../assets/fonts/fot-yuruka-std.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Raster Forge';
  src: url('../assets/fonts/Raster Forge.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Kirom';
  src: url('../assets/fonts/Kirom.otf');
  font-weight: normal;
}
