@layer utilities {
  /* Modifier */
  .card--noshadow {
    box-shadow: none;
  }

  .card--noborder {
    border: none;
  }

  /* Component -- Button */
  .btn--error,
  .action-bar__item--heart {
    --btn-clr: var(--clr-base);
    --btn-clr-bg: oklch(0.632 0.2437 25.94);
  }

  .btn--warning,
  .action-bar__item--bookmark {
    --btn-clr: oklch(0.2074 0 94.76);
    --btn-clr-bg: oklch(0.8779 0.2171 94.76);
  }
  
  .btn--info,
  .action-bar__item--share {
    --btn-clr: var(--clr-base);
    --btn-clr-bg: oklch(0.575 0.2245 239.82);
  }

  .btn--rounded {
    border-radius: 5em;
  }

  .btn--lg {
    --btn-height: 1.7rem;
    --btn-width: 1.9rem;
  }

  .btn--outline {
    color: var(--_btn-bg);
    border: 1px solid var(--_btn-bg);
    background: none;

    &:hover {
      background-color: var(--_btn-bg);
      color: var(--_btn-text);
    }
  }

  .btn--soft {
    background-color: oklch(from var(--_btn-bg) l c h / 15%);
    color: var(--_btn-bg);

    &:hover {
      background-color: var(--_btn-bg);
      color: var(--_btn-text);
    }
  }

  .btn--soft-on-hover {
    background: none;
    color: var(--_btn-bg);

    &:hover {
      background-color: oklch(from var(--_btn-bg) l c h / 15%);
      color: var(--_btn-bg);
    }
  }

  .btn--menu {
    --btn-size: 2.5rem;
    /* cursor: pointer; */
    border: none;
    padding: 0.9em;
    display: inline-flex;
    align-items: center;
    alignment-baseline: middle;
    user-select: none;
    justify-content: center;
    background: oklch(from var(--clr-secondary) l c h / 0.171);
  }

  .pill--outlined {
    border: 1px solid var(--pill-color);
    color: var(--pill-color);
    background-color: transparent;
  }

  .pill--subtle {
    border: 1px solid var(--pill-color);
    background-color: oklch(from var(--pill-color) l c h / 20%);
    color: var(--pill-color);
  }

  .pill--success {
    --pill-color: oklch(0.7691 0.2146 147);
  }

  .pill--warning {
    --pill-color: oklch(0.8333 0.1579 82.06);
  }

  .pill--sm {
    --pill-px: 0.8rem;
    --pill-py: 0.15rem;

    font-size: 0.59rem;
  }

  .animate--scrollBottom {
    animation: scroll-bottom 20s linear forwards infinite;
    font-size: 9rem;
    color: var(--clr-base-content);
    opacity: 10%;
    position: fixed;
    left: -20rem;
    top: 10rem;
    font-weight: 900;
    transform: translateX(-100%);
    font-family: "Yuruka STD", Arial, Helvetica, sans-serif;
    rotate: 90deg;
  }

  .animate--scrollTop {
    animation: scroll-bottom 15s linear backwards infinite;
    font-size: 9rem;
    font-family: "Yuruka STD", Arial, Helvetica, sans-serif;
    color: var(--clr-base-content);
    opacity: 10%;
    position: fixed;
    right: -20rem;
    top: 10rem;
    transform: translateX(-100%);
    font-weight: 900;
    rotate: -90deg;
  }

  .animate--snapRotate {
    animation: rotate 300ms steps(2, end) alternate infinite;
  }

  .is-animate-scroll__container {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: calc(100% - 10px - 1px);
  }

  .is-animate-scroll {
    display: inline-block;
    padding-left: 100%;
    animation: scrollLeft 8000ms linear infinite;
  }

  .img--grayscaled {
    filter: grayscale(100%);
    transition: filter 350ms ease-in-out;

    &:hover {
      filter: grayscale(0%);
    }
  }
}
